@tailwind base;
@tailwind components;
@tailwind utilities;

.john-cena{
  visibility: hidden;
}

body:has(#controller){
  overflow-y: hidden;
}

.disabled-btn{
  opacity: 0.5;
  pointer-events: none;
}

.shadow-center{
  box-shadow: 0 5px 20px .5px rgb(0, 0, 0, 0.2);
}

@media (min-width: 720px) {
  .vue-daterange-picker{
    width: 100% !important;
  }
  .vue-daterange-picker .calendars-container{
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .vue-daterange-picker .calendars-container .table-condensed{
    scale: 1.3;
  }
}

@media (max-width: 720px){
  .vue-daterange-picker .calendars-container{
    overflow-y: scroll;
    justify-content: center;
  }
  .vue-daterange-picker .calendars-container .table-condensed{

  }
}

.vue-daterange-picker .reportrange-text{
  visibility: hidden;
}
.vue-daterange-picker .daterangepicker{
  border: none;
}

